body {
    text-align: center;
}

.image-gallery {
    max-width: 100%;
    margin: 0 auto; /* Center the container */
    overflow: hidden; /* Hide any overflow content */
    position: relative; /* Establish a positioning context */
}

.inv {
    display: block; /* Make each image appear on a new line */
    max-width: 40%; /* Decrease the size of the images */
    height: auto;
    margin: 0px auto; /* Add margin between images and center them horizontally */
    border: 2px solid transparent; /* Add a transparent border */
    transition: transform 0.3s ease; /* Add a transition effect to the transform property */
    transform-origin: top right; /* Set the origin point for the transform */
}
body {
    font-family: 'Montserrat';
    background-image: url("images/garland.png");
}
.garland{
    width: -webkit-fill-available;
}
.vanakam{
    position: relative;
    margin-top: -20rem;
    left: 0px;
    width: 15rem;
}

#title {
    background-color: #FBF0B2;
}
#image1{
    background-color: #FFC7EA;

}
#image2{
    background-color: #D8B4F8;

}
#image3{
    background-color: #CAEDFF;

}
#image4{
    background-color: #A8DF8E;

}
#image5{
    background-color: #FAAB78;

}
#image6{
    background-color: #FF9494;

}


@media(max-width:1200px) {

    .title-first{
        text-align: center;
    }

    .title-image{
        
        position: static;
        width: 300px;
        transform: rotate(0);
    }

}